<div id="network-branding" class="container-fluid text-white">
  <div class="container">
    <div class="row">
            <img class="masthead-logo" src="{{theme.link}}/images/masthead-hhs-logo.png" alt="">
            <a class="masthead-link hhs-link" href="https://www.hhs.gov/"><span class="d-none d-xl-inline-block">U.S. Department of Health and Human Services</span> <span class="d-xl-none d-inline-block">HHS</span></a>
            <img src="{{theme.link}}/images/masthead-divider.png" alt="">
            <img class="masthead-logo" src="{{theme.link}}/images/masthead-nih-logo.png" alt="">
            <a class="masthead-link nih-link" href="https://www.nih.gov/"><span class="d-none d-lg-inline-block">National Institutes of Health</span> <span class="d-lg-none d-inline-block">NIH</span></a>
            <img src="{{theme.link}}/images/masthead-divider.png" alt="">
            <img class="masthead-logo" src="{{theme.link}}/images/masthead-nih-logo.png" alt="">
            <a class="masthead-link ncats-link" href="https://www.ncats.nih.gov/"><span class="d-none d-md-inline-block">National Center for Advancing Translational Sciences</span> <span class="d-md-none d-inline-block">NCATS</span></a>
            <img src="{{theme.link}}/images/masthead-divider.png" alt="">
    </div>
  </div>
</div>