{% extends 'base.twig' %}
{% block content %}
    {% for post in posts %}
        <section class="probe-header position-fixed bg-white w-100">
            <div class="container position-relative py-3">
                <a href="/" class="to-archive text-decoration-none"><span class="sr-only">All probes</span>&ltrif;</a>
                <h3 class="m-0">
                    {{ post.title }} {{ post.meta('extended_name') ? ':' : '' }}
                    <span class="font-italic font-weight-lighter">
                {{ post.meta('extended_name') ? post.meta('extended_name') : '' }}
            </span>
                </h3>
            </div>
            <div class="container-fluid bg-dark">
                <div class="container" id="probe-nav">
                    <nav class="navbar navbar-expand">
                        {% if (post.meta('probe_fields') or post.meta('probe_overview')) %}
                            <ul class="nav navbar-nav nav-fill w-100">
                                <li class="nav-item probe-nav-item">
                                    <a class="nav-link p-0" href="#overview">
                            <span class="highlight">
                                {{ post.meta('probe_overview').navigation_label }}
                            </span>
                                    </a>
                                </li>
                                {%  for field in post.meta('probe_fields') %}
                                    <li class="nav-item probe-nav-item">
                                        <a class="nav-link p-0" href="#{{ fn('str_replace', 'probe_', '', field.acf_fc_layout) }}">
                                            <span class="highlight">{{ field.navigation_label }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </section>
        <div class="probe-fields position-relative" style="top: 105px;">
            <section class="probe-field position-relative">
                <a id="overview" class="d-block w-100 position-absolute" style="height: 10px;"></a>
                <div class="container position-relative py-5">
                    <div id="overview" class="content collapse show">
                        {% include 'probe-fields/overview.twig' %}
                    </div>
                </div>
            </section>
            {% if post.meta('probe_fields') %}
                {% for field in post.meta('probe_fields') %}
                    <section class="probe-field position-relative">
                        {% set field_name = fn('str_replace', 'probe_', '', field.acf_fc_layout) %}
                        <a id="{{ field_name}}" class="d-block w-100 position-absolute" style="height: 10px;"></a>
                        <div class="container position-relative py-3">
                            <button
                                    class="btn border-0 px-0 probe-field-toggle"
                                    data-toggle="collapse"
                                    data-target="#{{ field_name }}">
                                <span class="sr-only">collapse</span>
                                <span class="collapse-icon">&ltrif;</span>
                            </button>
                            <h3 class="text-uppercase">
                                {{ fn('get_field_value', field.acf_fc_layout, 'layouts', 'label') }}
                            </h3>
                            <div id="{{ field_name }}" class="content collapse show">
                                {% include 'probe-fields/' ~ field_name ~ '.twig' %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    </div> <!-- main -->
{% endblock %}